<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Administrador: acceso a crear nuevo análisis</title>
    {% endblock %}
    <!-- Hoja de estilo propia -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <!-- Tema de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css"
          integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
</head>
<body>
<!-- Creamos cabecera con una barra de navegación -->
    <h1 class="display-4 text-center mt-4">Suministros Informáticos</h1>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="/protected_admin" title="Inicio">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" color="white" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 20 20">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
            </a>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a style="font-size: 18px;" class="nav-link text-light" href="/protected_admin/articulos">Artículos</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 18px;" class="nav-link text-light" href="/protected_admin/clientes">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 18px;" class="nav-link text-light" href="/protected_admin/ventas">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 18px;" class="nav-link text-light" href="/protected_admin/proveedores">Proveedores</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 18px;" class="nav-link text-light" href="/protected_admin/pedidos">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 20px;" class="nav-link text-light text-bold-underline"
                           href="/protected_admin/nuevo_analisis">Análisis Financiero</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 18px;" class="nav-link text-light"
                           href="/protected_admin/usuarios">Usuarios</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav ms-auto d-flex align-items-center">
                <!-- mostramos el usuario logueado -->
                <div class="navbar-text">
                    <em class="text-white">Bienvenido: {{ current_user.username }}</em>
                </div>
                <!-- botón para hacer logout -->
                <a href="/logout" class="nav-link ms-3" title="Cerrar sesión">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" color="white" fill="currentColor"
                         class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5
                         0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5
                         14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293
                        7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                </a>
            </div>
        </div>
    </nav>
    <!------------>
    {% block content %}
    <!------------>
    <div class="container card border-primary mb-3 justify-content-center" style="max-width: 30rem;">
        <div class="card-body">
            <div class="text-right">
                <!--botón del enlace para que nos lleva a la pantalla anterior-->
                <a href="/protected_admin" title="Volver">
                  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                  </svg>
                </a>
            </div>
            <h3 class="card-title">Nuevo análisis financiero</h3>
        </div>
        <!-- formulario realizado con Flask WTF que envía los datos introducidos por el usuario a la ruta indicada-->
        <form action="/protected_admin/nuevo_analisis" method="post" novalidate> <!--ruta del formulario-->
          {{ form.hidden_tag() }} <!--método que genera un campo oculto que contiene un token CSRF para proteger la app contra ataques CSRF-->
          <fieldset>
            <h5><b>Introduzca los criterios de búsqueda:</b></h5>
            <div>
              {{ form.fecha_inicio.label }}
              {{ form.fecha_inicio(class="form-control", placeholder="Fecha de inicio") }}
              {% if form.fecha_inicio.errors %}
                  {% for error in form.fecha_inicio.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              {% endif %}
            </div>
            <div>
              {{ form.fecha_fin.label }}
              {{ form.fecha_fin(class="form-control", placeholder="Fecha de fin") }}
              {% if form.fecha_fin.errors %}
                  {% for error in form.fecha_fin.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              {% endif %}
            </div>
            <div>
              {{ form.modelo.label }}
              {{ form.modelo(class="form-control", placeholder="Área de búsqueda") }}
              {% if form.modelo.errors %}
                  {% for error in form.modelo.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              {% endif %}
            </div>
            <div>
              {{ form.periodicidad.label }}
              {{ form.periodicidad(class="form-control", placeholder="Periodicidad") }}
              {% if form.periodicidad.errors %}
                  {% for error in form.periodicidad.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              {% endif %}
            </div>
            <div class="margin_top_button">
                {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
          </fieldset>
    </form>
    </div>
    <!------------>
    {% endblock %}
    <!------------>